@page "/"

<div class="index-container">
    <h2 class="application-title">BuzzerBernd™</h2>
    <input @bind-value=@userName class="username-input" type="text" maxlength="20" placeholder="Bitte Namen eingeben." />
    <button class="button-join" @onclick=@(() => Join())>Beitreten</button>
</div>